@page
@model ResearchLab.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LabClasses[0].ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabClasses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabClasses[0].LabType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabClasses[0].Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LabClasses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
