@page
@model ResearchLab.Pages.ResearchWork.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ResearchWorks</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchWorks.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchWorks.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchWorks.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchWorks.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchWorks.ProjectYearStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchWorks.ProjectYearStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResearchWorks.ProjectYearPublished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResearchWorks.ProjectYearPublished)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ResearchWorks.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
