@page
@model ResearchLab.Pages.Reports.ResearchProjectByYearModel

@using (Html.BeginForm("LabclassesByYear", "Reports", FormMethod.Get))
{
 <div class="form-actions no-color">
                  
   MemberName @Html.DropDownList("Names" , Model.AvailableMembers )
    Year @Html.TextBox("year")
    <input id="Sudmit1" type="submit" value="Search" class="btn btn-primary" />
</div>    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResearchWorksByYear[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResearchWorksByYear[0].Description)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.ResearchWorksByYear[0].ProjectYearPublished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ResearchWorksByYear) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ProjectYearPublished)
            </td>
        </tr>
}
    </tbody>
</table>
